{% extends "base.html" %}
{% block content %}
    <form action ="/ermsapp/" method="POST" >
        {% csrf_token %}

        <table>
        {% for field in  UserForm %}
            <tr><td width="100">{{ field.name }}</td><td>{{ field }}</td></tr>
        {% endfor %}
        </table>

        <table>
        {% for field in  InterviewerProfileForm %}
            <tr><td width="100">{{ field.name }}</td><td>{{ field }}</td></tr>
        {% endfor %}
        </table>

        <input type="submit" value="submit"/>
    </form>
{% endblock %}